h1 {
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  text-align:center;
}

h2 {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

@media (min-width: 500px) {
body {
    background-color: white;
}
}
@media (max-width: 200px) {
body {
    background-color: lightyellow;
}
}
